#navbar {
    background-color: gray;
    height: 80px;
}

#sideBar {
    height: 100vh;
    padding-top: 110px;
    position: fixed;
}

.main-content {
    background-color: aliceblue;
}

#dashboard {
    margin-top: 80px;
}



